@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.Container{
    height: 100vh;
    width: 100vw;
    background-color:Black ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.Dashboard{
    height: 580px; 
    width: 380px;
    background-color: hsl(0, 0%, 8%);
    border-radius: 10px;
    padding: 2%;
    display: flex;
    flex-direction: column;
}
.Dashboard img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.Name{
    color:hsl(0, 0%, 100%);
    font-weight: 400;
}
.City{
    color: hsl(75, 94%, 57%);
    font-weight: 600;
}
.Designation{
    padding-top: 5%;
    color: rgba(255, 255, 255, 0.541);
    margin-top: 3%;
    margin-bottom: 4%;
}
button{
    background-color:hsl(0, 0%, 20%) ;
    border-radius: 5px;
    padding: 5%;
    margin: 3%;
    outline: none;
    border: none;
    font-size: 14px;
    color: hsl(0, 0%, 100%);;
    font-weight: 700;
}
button:hover{
    background-color: hsl(75, 94%, 57%);
    cursor: pointer;
    color: black;
}